
fastapi==0.118.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
orjson==3.10.7
httpx==0.27.2
python-dotenv==1.0.1
jinja2==3.1.4
pyyaml==6.0.2


numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.11.4
joblib==1.4.2
imbalanced-learn==0.12.3
tqdm==4.66.4


mygene==3.2.2
biothings-client==0.4.1
